/* @import "~@douyinfe/semi-ui/dist/css/semi.min.css"; */
@import "~@semi-bot/semi-theme-doucreator/semi.min.css";

@import "semi.css";

.fixedButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(var(--semi-grey-0), 0.2);
    padding: 3px;
    border-radius: 20px;
}